@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    background: linear-gradient(135deg, #4203a9, #90bafc);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }